    <footer>
        <ul>
            <li> <a href="/">Home</a></li>
            <li><a href="/create">Create</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        <hr>
        <div class="social-media">
            <div><p>&copy; <%= new Date().getFullYear() %> AyzeroTech. All rights reserved.</p></div>
            <div class="social-icon">
                <a href="#"><img src="/images/uiImages/facebook.svg" alt="facebook"/></a>
                <a href="#"><img src="/images/uiImages/insta.svg" alt="instagram"/></a>
                <a href="#"><img src="/images/uiImages/X.svg" alt="twitter"/></a>
                <a href="#"><img src="/images/uiImages/linkedin.svg" alt="twitter"/></a>
            </div>
            
            
        </div>
        
        
    </footer>

    
    </body>
</html> 

