<%-  include('partials/header.ejs') %>

<main class="row custom-main">

        <div class="left">
            <div class="left-content">
                <h1>Latest Tech News</h1>
                <p>Discover the latest technological advancements and breakthroughs.</p>

                <div class="blog-container">
                    <%- include('partials/blog-card.ejs') %>
                </div>
            </div>
        </div>
        <div class="right"></div>
   
</main>

<%- include('partials/footer.ejs') %> 